<div class="container-flux">
	
	<div id="inicioBox">

		<div class="col-xs-12" style="padding-top: 15vh"></div>

		<div class="col-xs-12" style="background-color: rgba(240,240,240,0.3); height: 100%"></div>

		<div class="col-xs-12 col-sm-8 col-sm-offset-2 animated bounceInLeft  " style="position: absolute">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<img src="/assets/nexus.png" alt="/assets/images/nexus.png" class="img img-responsive">

				</div>

				<div class="col-xs-12 col-sm-8">
					<div style="height: 8vh"></div>
					<h1 style="font-weight: bold;">APRENDIZAJE SOCIAL</h1>
					<h2 style="font-weight: lighter">La primera plataforma game center que facilita el Aprendisaje Social de personas con discapacidad intelectual</h2>
					
				</div>

			</div>

		</div>
		
	</div>
</div>