  <div class="col-xs-12 col-sm-8 col-sm-offset-2   " style="position: absolute" style="opacity: 0.5">
      <div class="row " style="opacity: 0.5">
        <div class="col-xs-12 col-sm-4">
          <img src="/assets/nexus.png" alt="/assets/images/nexus.png" class="img img-responsive">

        </div>

        <div class="col-xs-12 col-sm-8">
          <div style="height: 8vh"></div>
          <h1 style="font-weight: bold;">APRENDIZAJE SOCIAL</h1>
          <h2 style="font-weight: lighter">La primera plataforma game center que facilita el Aprendisaje Social de personas con discapacidad intelectual</h2>
          
        </div>

      </div>

    </div>



<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 well-custom text-center  animated bounceIn" style="margin-top: 15vh">
 <h2>SIGN UP</h2>
  <a href="/" class="delete"><span class="glyphicon glyphicon-remove"></span></a>

   <%= form_for(resource, as: resource_name, url: teacher_registration_path) do |f| %>



<div class="form-group">
    <span class="input input--kaede">
      <input class="input__field input__field--kaede" type="email" value="" name="teacher[email]" id="teacher_email"/>
      <label class="input__label input__label--kaede" for="teacher_email">
        <span class="input__label-content input__label-content--kaede">email</span>
      </label>
    </span>
    
  </div>

  <div class="form-group">
        <p>debe tener al menos 8 caracteres</p>
    <span class="input input--kaede">
      <input class="input__field input__field--kaede" name="teacher[password]" type="password" id="teacher_password" />
      <label class="input__label input__label--kaede" for="teacher_password">
        <span class="input__label-content input__label-content--kaede">PassWord</span>
      </label>
    </span>

  </div>

 <div class="form-group">
    <p>debe tener al menos 8 caracteres</p>
    <span class="input input--kaede">

      <input class="input__field input__field--kaede" name="teacher[password_confirmation]" type="password" id="teacher_password_confirmation" />
      <label class="input__label input__label--kaede" for="teacher_password_confirmation">
        <span class="input__label-content input__label-content--kaede">PassWord</span>
      </label>
    </span>

  </div>



  <div class="actions">
    <%= f.submit "Sign up" , :class=> 'btn btn-login' %>
  </div>


  <% end %>

  <%= render "devise/shared/links" %>
</div>



</div>


