<div class="back-lado"></div>


<div class="container-fluid">
	<div class="col-xs-12 col-xs-offset-1 well-custom well-recto">
		<div class="row">
			<div class="col-xs-8">
				<h1>Historias</h1>
			</div>
			<div class="col-xs-4">
				<a href="/stories/new"><button class="btn glyOpt">
					<span class="glyphicon glyphicon-plus "></span> Nueva historia
				</button>
				</a>

			</div> 

		</div>

	</div>


		
	<div class="col-xs-10 col-xs-offset-1 well well-custom well-recto">
		<br>
			<div class="col-xs-12 col-sm-4 col-md-3">
			
			<a href="/stories/show_story"><div class="card text-center">
				<div style="background-color: #ABA"><img class="card-img-top card-img-propio img img-responsive img-square" src="/assets/metro.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p pupilCardText ><span class="glyphicon glyphicon-star pupilCardText"></span><span class="glyphicon glyphicon-star pupilCardText"></span><span class="glyphicon glyphicon-star pupilCardText"></span><span class="glyphicon glyphicon-star-empty pupilCardText"></span><span class="glyphicon glyphicon-star-empty pupilCardText"></span></p>
					<p class="pupilCardText"><big>OrientaMetro</big></p>
					<p class="card-text pupilCardText "><small class="text-muted">Orientación</small></p>
					<p class="card-text pupilCardText">Historia sobre retos de orientación en la red de Metro de Madrid</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
			</a>
		</div>

			<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA"><img class="card-img-top card-img-propio img img-responsive img-square" src="/assets/citya.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></p>
					<p><big>OrientaMetro</big></p>
					<p class="card-text"><small class="text-muted">Orientación</small></p>
					<p class="card-text">Historia sobre retos de orientación en la red de Metro de Madrid</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA"><img class="card-img-top card-img-propio img img-responsive img-square" src="/assets/social.png" alt="Card image cap"></div>
				<div class="card-block">
					<p><big>Bigger text</big></p>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA"><img class="card-img-top card-img-propio img img-responsive img-square" src="/assets/social.png" alt="Card image cap"></div>
				<div class="card-block">
					<p><big>Bigger text</big></p>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA"><img class="card-img-top card-img-propio img img-responsive img-square" src="/assets/metro.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></p>
					<p><big>OrientaMetro</big></p>
					<p class="card-text"><small class="text-muted">Orientación</small></p>
					<p class="card-text">Historia sobre retos de orientación en la red de Metro de Madrid</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>

			<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA"><img class="card-img-top card-img-propio img img-responsive img-square" src="/assets/citya.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></p>
					<p><big>OrientaMetro</big></p>
					<p class="card-text"><small class="text-muted">Orientación</small></p>
					<p class="card-text">Historia sobre retos de orientación en la red de Metro de Madrid</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>

				


	</div>

</div>