<div class="back-lado"></div>


<div class="container-fluid">
	<div class="col-xs-12 col-xs-offset-1 well-custom well-recto">
		<div class="row">
			<div class="col-xs-8">
				<h1>NUEVA HISTORIA</h1>
			</div>
			<div class="col-xs-4">
				<a href="/stories/save"><button class="btn glyOpt">
					<span class="
					glyphicon glyphicon-ok"></span> Guardar
				</button>
			</a>

		</div> 

	</div>

</div>



<div class="col-xs-10 col-xs-offset-1 well well-custom well-recto">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<span>
							<label for="name"><h2>Nombre historia:</h2>
								<input class="form-control" type="string" id="name"></label>
							</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<span><label for="dificulty"><h2>Dificultad:</h2>
								<select class="form-control" name="dificulty" id="dificulty">

									<option value="1">1</option>
									<option value="2">2	</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>

								</select>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="form-group">
							<label for="description">Descripción:</label>
							<textarea class="form-control" rows="3" id="description"></textarea>
						</div>
						<hr>
					</div>	



					<div class="col-xs-12 text-center">
						<h2>Añadir escenas:</h2>
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1 well-custom">
								<div class="row">

								<div class="col-xs-4 col-sm-4 col-md-3">
										<div class="card text-center">
											<div><img class="card-img-top card-img-propio img img-square" src="/assets/metro.jpg" alt="Card image cap"></div>
											<div class="card-block">
												<p><big>Bigger text</big></p>
												<p class="card-text">Categoria</p>
												<div class="checkbox">
													<label><input type="checkbox" value="">Añadir</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-3">
										<div class="card text-center">
											<div><img class="card-img-top card-img-propio img img-square" src="/assets/rol.jpg" alt="Card image cap"></div>
											<div class="card-block">
												<p><big>Bigger text</big></p>
												<p class="card-text">Categoria</p>
												<div class="checkbox">
													<label><input type="checkbox" value="">Añadir</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-3">
										<div class="card text-center">
											<div><img class="card-img-top card-img-propio img img-square" src="/assets/metro.jpg" alt="Card image cap"></div>
											<div class="card-block">
												<p><big>Bigger text</big></p>
												<p class="card-text">Categoria</p>
												<div class="checkbox">
													<label><input type="checkbox" value="">Añadir</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-3">
										<div class="card text-center">
											<div><img class="card-img-top card-img-propio img img-square" src="/assets/citya.jpg" alt="Card image cap"></div>
											<div class="card-block">
												<p><big>Bigger text</big></p>
												<p class="card-text">Categoria</p>
												<div class="checkbox">
													<label><input type="checkbox" value="">Añadir</label>
												</div>
											</div>
										</div>
									</div>


								</div>

							</div>


						</div>






					</div>	
				</div>
			</div>


