<div class="back-lado"></div>


<div class="container-fluid">
	<div class="col-xs-12 col-xs-offset-1 well-custom well-recto">
		<div class="row">
			<div class="col-xs-8">
				<h1>HISTORIA</h1>
			</div>
			<div class="col-xs-4">
				<a href="/stories/save"><button class="btn glyOpt">
					<span class="
					glyphicon glyphicon-pencil"></span> Editar
				</button>
			</a>
			<a href="/stories/save"><button class="btn glyOpt">
					<span class="
					glyphicon glyphicon-trash"></span> Borrar
				</button>
			</a>

		</div> 

	</div>

</div>



<div class="col-xs-10 col-xs-offset-1 well well-custom well-recto">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6">
				<h1>OrientaMetro</h1>
					</div>
					<div class="col-xs-6">
							<span class="glyphicon glyphicon-star glyHis"></span>
							<span class="glyphicon glyphicon-star glyHis"></span>
							<span class="glyphicon glyphicon-star glyHis"></span>
							<span class="glyphicon glyphicon-star-empty glyHis"></span>
							<span class="glyphicon glyphicon-star-empty glyHis"></span>
						</div>
					</div>

					<div class="col-xs-12">
						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ab natus, ullam rem sed, velit ipsa eveniet impedit officia nostrum quasi veniam? Odit, reiciendis eligendi officiis neque provident explicabo tenetur, rem hic saepe a laboriosam consequuntur, ipsum autem vitae repellendus.</h3>
						<hr>
					</div>	



					<div class="col-xs-12 text-center">
						<h2>Escenas:</h2>
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1 well-custom">
								<div class="row">

									<div class="col-xs-4 col-sm-4 col-md-3">
										<div class="card text-center">
											<div><img class="card-img-top card-img-propio img img-square" src="/assets/metro.jpg" alt="Card image cap"></div>
											<div class="card-block">
												<p><big>Bigger text</big></p>
												<p class="card-text">Categoria</p>
											
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-3">
										<div class="card text-center">
											<div><img class="card-img-top card-img-propio img img-square" src="/assets/rol.jpg" alt="Card image cap"></div>
											<div class="card-block">
												<p><big>Bigger text</big></p>
												<p class="card-text">Categoria</p>
												
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-3">
										<div class="card text-center">
											<div><img class="card-img-top card-img-propio img img-square" src="/assets/metro.jpg" alt="Card image cap"></div>
											<div class="card-block">
												<p><big>Bigger text</big></p>
												<p class="card-text">Categoria</p>
												
											</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-3">
										<div class="card text-center">
											<div><img class="card-img-top card-img-propio img img-square" src="/assets/citya.jpg" alt="Card image cap"></div>
											<div class="card-block">
												<p><big>Bigger text</big></p>
												<p class="card-text">Categoria</p>
												
											</div>
										</div>
									</div>


								</div>

							</div>


						</div>






					</div>	
				</div>
			</div>


