<div class="container-fluid">
	<div class="col-xs-12 col-sm-8">

		<div class="row">
			<br>
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<h1>NOTIFICACIONES</h1>
			</div>

			<div class="col-xs-12 col-sm-9 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="row">
						<div class="col-xs-8"><p>Juan Pasó el nivel 5 de comunicación</p></div>
						<div class="col-xs-4"><small> hace unos segundos</small></div>
					</div>
				</div>
			</div>
				<div class="col-xs-12 col-sm-10 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="row">
						<div class="col-xs-8"><p>Patricia Cerro la aplicación</p></div>
						<div class="col-xs-4"><small> hace unos minutos</small></div>
					</div>
				</div>
			</div>
				<div class="col-xs-12 col-sm-8 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="row">
						<div class="col-xs-10"><p><span class="
					glyphicon glyphicon-warning-sign" style="color:#F00;font-size: 4em">  </span> <span style="opacity: 0">sa</span>Patricia FALLÓ en el reto social sobre señuelos en Facebook<span style="opacity: 0">sa</span><span class="
					glyphicon glyphicon-warning-sign" style="color:#F00;font-size: 4em">  </span> </p></div>
						<div class="col-xs-2"><small> hace 15 minutos</small></div>
					</div>
				</div>
			</div>
				<div class="col-xs-12 col-sm-10 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, hic?</p></div>
						<div class="col-xs-4"><small> hace 30 minutos</small></div>
				</div>
			</div>
				<div class="col-xs-12 col-sm-8 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></div>
						<div class="col-xs-4"><small> hace 40 minutos</small></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, </p></div>
						<div class="col-xs-4"><small> hace 1 hora</small></div>
				</div>
			</div>
				<div class="col-xs-12 col-sm-8 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
						<div class="col-xs-4"><small> hace más de 1 hora</small></div>
				</div>
			</div>

	<div class="col-xs-12 col-sm-10 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, hic?</p></div>
						<div class="col-xs-4"><small> hace 2 horas</small></div>
			</div>
				<div class="col-xs-12 col-sm-8 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur</p></div>
						<div class="col-xs-4"><small> hace 2 horas</small></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></div>
						<div class="col-xs-4"><small> hace 2 horas</small></div>
				</div>
			</div>
				<div class="col-xs-12 col-sm-8 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur </p></div>
						<div class="col-xs-4"><small> hace 1 día</small></div>
				</div>
				</div>
					<div class="col-xs-12 col-sm-8 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur </p></div>
						<div class="col-xs-4"><small> hace 1 día</small></div>
				</div>
				</div>
					<div class="col-xs-12 col-sm-8 animated bounceInLeft">
				<div class="well-custom well-notificacion">
					<div class="col-xs-8"><p>Lorem ipsum dolor sit amet, consectetur </p></div>
						<div class="col-xs-4"><small> hace 1 día</small></div>
				</div>
				</div>
			</div>


		</div>

	</div>
	<div class="col-sm-4 hid-mobile">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 well-custom well-recto animated bounceInDown" >
				<h1>Menu</h1>
				<hr>
				<a href="/teachers/pupils">
						<button class="btn btn-Menu btn-block" value="sada">Alumnos</button>
				</a>
				<br>
					<a href="/teachers/new_pupil">
						<button class="btn btn-Menu btn-block" value="sada">Añadir Alumno</button>
				</a>
				<br>
					<a href="/stories/index">
						<button class="btn btn-Menu btn-block" value="sada">Historias</button>
				</a>
				<br>
					<a href="/stories/new">
						<button class="btn btn-Menu btn-block" value="sada">Crear historia</button>
				</a>
				<br>
								
			</div>
		</div>
	</div>


</div>






<div class="container">
	<div class="row">
	<br>


<div class="col-xs-12" id="PupilsList">
	<!--<div class="row">
		<a class="col-xs-6 col-sm-3 well-custom well-btn" href=""><span>a</span></a>

		<a class="col-xs-6 col-sm-3 well-custom well-btn" href=""><span>a</span></a>
		<a class="col-xs-6 col-sm-3 well-custom well-btn" href=""><span>a</span></a>

	</div>-->
</div>
</div>
</div>

