<div class="back-lado"></div>


<div class="container-fluid">
	<div class="col-xs-12 col-xs-offset-1 well-custom well-recto">
		<div class="row">
			<div class="col-xs-8">
				<h1>Nuevo alumno</h1>
			</div>
			<div class="col-xs-4">
				<a href="/stories/save"><button class="btn glyOpt">
					<span class="
					glyphicon glyphicon-ok"></span> Guardar
				</button>
			</a>

		</div> 
			
		</div>

	</div>



	<div class="col-xs-10 col-xs-offset-1 well well-custom well-recto">

		<div class="col-xs-5">
			<img src="http://fakeimg.pl/350x200/?text=+%20añade foto" alt="" class="img img-responsive img-square">
		</div>

		<div class="col-xs-7">
			<div class="form-group">
				<span>
					<label for="name"><h2>Nombre:</h2>
						<input class="form-control" type="string" id="name">
					</label>
				</span>
			</div>
			<div class="form-group">
				<span>
					<label for="bdayDate"><h2>Fecha de nacimiento:</h2>
						<input class="form-control" type="date" id="bdayDate">
					</label>
				</span>
			</div>

			<div class="form-group">
				<span>
					<label for="pato"><h2>Info de interes</h2>
						<input class="form-control" type="string" id="pato">
					</label>
				</span>
			</div>
		</div>

		<div class="col-xs-12">
			
			<div class="form-group">
				<label for="datos"><h2>Otros datos:</h2></label>
				<textarea class="form-control" rows="8" id="datos"></textarea>
			</div>
		</div>

		
	</div>

</div>