<div class="container">
	<div class="col-xs-12 well-custom" id="PupilsList">
		
		<h2>Alumnos</h2>
		<hr>
		<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 pupilCard">
			<a href="/teachers/show_pupil">
			<div class="card text-center">
				<div style="background-color: #ABA; padding: 3%"><img class="card-img-top card-img-propio img img-circle" src="http://api.randomuser.me/portraits/women/39.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p class="pupilCardText"><big>Bigger text</big></p>
					<p class="pupilCardText card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class=" pupilCardText card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<a href="#" class="  card-link">Card link</a>
					<a href="#" class=" card-link">Another link</a>

				</div>
			</div>
			</a>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA; padding: 3%"><img class="card-img-top card-img-propio img img-circle" src="http://api.randomuser.me/portraits/men/39.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p><big>Bigger text</big></p>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA; padding: 3%"><img class="card-img-top card-img-propio img img-circle" src="http://api.randomuser.me/portraits/women/20.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p><big>Bigger text</big></p>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA; padding: 3%"><img class="card-img-top card-img-propio img img-circle" src="http://api.randomuser.me/portraits/women/15.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p><big>Bigger text</big></p>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-3">
			<div class="card text-center">
				<div style="background-color: #ABA; padding: 3%"><img class="card-img-top card-img-propio img img-circle" src="http://api.randomuser.me/portraits/men/33.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p><big>Bigger text</big></p>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
		</div>
	</div>
	</div>
	</div>