<div class="back-lado"></div>


<div class="container-fluid">
	<div class="col-xs-12 col-xs-offset-1 well-custom well-recto">
		<div class="row">
			<div class="col-xs-8">
				<h1>ALUMNO</h1>
			</div>

					<div class="col-xs-4">
				<a href="/stories/save"><button class="btn glyOpt">
					<span class="
					glyphicon glyphicon-pencil"></span> Editar
				</button>
			</a>
			<a href="/stories/save"><button class="btn glyOpt">
					<span class="
					glyphicon glyphicon-trash"></span> Borrar
				</button>
			</a>


		</div> 

	</div>

</div>



<div class="col-xs-10 col-xs-offset-1 well well-custom well-recto">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-sm-offset-1">
					<img src="http://api.randomuser.me/portraits/women/39.jpg" alt="" class="img img-responsive img-rounded">
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-2">
							<h1>Maria Eugenia</h1>
							<p>Edad: 25 años</p>
							<p>Autismo leve</p>
							<br>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quibusdam pariatur provident ab repudiandae consectetur iste ut reprehenderit! Dolorem vitae impedit adipisci perspiciatis repudiandae? Totam illum maxime, quae voluptas quos?</p>

						</div>
						
					</div>
				</div>
				
		
			</div>
			<hr>
		</div>

<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-4 text-center">
					<h2>Logros</h2>
					<div class="row">
						<div class="col-xs-12">
							<h3>Superados</h3>
						</div>
						<div class="col-xs-6 col-sm-4">
							<img src="/assets/redes.png" alt="" class="img img-responsive bdg">
							<p><b>Redes 0 </b></p>
								<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>

						</div>
						<div class="col-xs-6 col-sm-4">
							<img src="/assets/redes.png" alt="" class="img img-responsive bdg">
							<p><b>Redes 1 </b></p>
								<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>

						</div>
						<div class="col-xs-6 col-sm-4">
							<img src="/assets/comunicacion.png" alt="" class="img img-responsive bdg">
								<p><b>Redes 0 </b></p>
								<span class="glyphicon glyphicon-star "></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star"></span>
							<span class="glyphicon glyphicon-star-empty "></span>

						</div>
						<div class="col-xs-6 col-sm-4">
							<img src="/assets/entornos.png" alt="" class="img img-responsive bdg">
								<p><b>Redes 0 </b></p>
								<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>

						</div>
						<div class="col-xs-6 col-sm-4">
							<img src="/assets/memoria.png" alt="" class="img img-responsive bdg">
								<p><b>Redes 0 </b></p>
								<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>

						</div>
						<div class="col-xs-12">
							<h3>No superados</h3>
						</div>
							<div class="col-xs-6 col-sm-4">
							<img style=" filter: none;-webkit-filter: grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%);-o-filter:grayscale(100%);" src="/assets/LOGICA.png" alt="" class="img img-responsive bdg_gris bdg">
								<p><b>Redes 0 </b></p>
								<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>

						</div>
						<div class="col-xs-6 col-sm-4">
							<img style=" filter: none;-webkit-filter: grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%);-o-filter:grayscale(100%);" src="/assets/lectura.png" alt="" class="img img-responsive bdg_gris bdg">
								<p><b>Redes 0 </b></p>
								<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
 
						</div>
						<div class="col-xs-6 col-sm-4">
							<img style=" filter: none;-webkit-filter: grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%);-o-filter:grayscale(100%);" src="/assets/comunicacion.png" alt="" class="img img-responsive bdg_gris bdg">
								<p><b>Redes 0 </b></p>
								<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>

						</div>
						<div class="col-xs-6 col-sm-4">
							<img style=" filter: none;-webkit-filter: grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%);-o-filter:grayscale(100%);" src="/assets/redes.png" alt="" class="img img-responsive bdg_gris bdg">
								<p><b>Redes 0 </b></p>
								<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>
							<span class="glyphicon glyphicon-star-empty "></span>

						</div>

					</div>
				</div>
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-4 col-xs-offset-1"><h2>Añadir historia</h2></div>	
						<div class="col-xs-4">
							<br>
							<select class="form-control" id="sel1">
    <option>OrientaMetro</option>
    <option>Acoso Sexual Facebook</option>
  </select>

						</div>
						<div class="col-xs-3">
							<a href="/stories/new"><button class="btn glyOpt">
					<span class="glyphicon glyphicon-plus "></span>Añadir
				</button>
			</a>
						</div>	
						<hr>

						<div class="col-xs-11 col-xs-offset-1">
							<h2>Historias Añadidas</h2>
							<div class="row">
								<div class="col-xs-6">
									<br>
									<ol>
										<li><a href="">Insultos en WhatsApp</a></li>
										<li><a href="">Busca tu asiento</a></li>
									</ol>

								</div>
								<div class="col-xs-offset-1 col-xs-4">
									<div class="card text-center">
				<div style="background-color: #ABA"><img class="card-img-top card-img-propio img img-responsive img-square" src="/assets/metro.jpg" alt="Card image cap"></div>
				<div class="card-block">
					<p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></p>
					<p><big>OrientaMetro</big></p>
					<p class="card-text"><small class="text-muted">Orientación</small></p>
					<p class="card-text">Historia sobre retos de orientación en la red de Metro de Madrid</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>

				</div>
			</div>
								</div>

							</div>
						</div>	
					</div>
					


				</div>
				

			</div>
		</div>		


	</div>
</div>
</div>