  <div class="col-xs-12 col-sm-8 col-sm-offset-2 animated bounceInLeft  " style="position: absolute">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <img src="/assets/nexus.png" alt="/assets/images/nexus.png" class="img img-responsive">

        </div>

        <div class="col-xs-12 col-sm-8">
          <div style="height: 8vh"></div>
          <h1 style="font-weight: bold;">APRENDIZAJE SOCIAL</h1>
          <h2 style="font-weight: lighter">La primera plataforma game center que facilita el Aprendisaje Social de personas con discapacidad intelectual</h2>
          
        </div>

      </div>

    </div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    

<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 well-custom text-center" style="margin-top: 15vh"> 
   <h2>Log in</h2>

   <%= form_for(:teacher, :as => teachers_path) do |f| %>



<div class="form-group">
    <span class="input input--kaede">
      <input class="input__field input__field--kaede" type="email" value="" name="teacher[email]" id="teacher_email"/>
      <label class="input__label input__label--kaede" for="teacher_email">
        <span class="input__label-content input__label-content--kaede">email</span>
      </label>
    </span>
    
  </div>

  <div class="form-group">
    <span class="input input--kaede">
      <input class="input__field input__field--kaede" name="teacher[password]" type="password" id="teacher_password" />
      <label class="input__label input__label--kaede" for="teacher_password">
        <span class="input__label-content input__label-content--kaede">PassWord</span>
      </label>
    </span>

  </div>


  <div class="actions">
    <%= f.submit "Log in", :class=> 'btn btn-login' %>
  </div>



  <% end %>

  <%= render "devise/shared/links" %>
</div>

</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>