
@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,400italic,500italic,500,700,700italic,300italic,900,900italic&subset=latin,latin-ext);
body {
font-family: 'Rubik', sans-serif;
  color: #333333;
}



.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
}

.card-block {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-radius: .25rem .25rem 0 0;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-radius: 0 0 .25rem .25rem;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.card-header:first-child {
  border-radius: .25rem .25rem 0 0;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.card-footer:last-child {
  border-radius: 0 0 .25rem .25rem;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-primary-outline {
  background-color: transparent;
  border-color: #0275d8;
}

.card-secondary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.card-info-outline {
  background-color: transparent;
  border-color: #5bc0de;
}

.card-success-outline {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-warning-outline {
  background-color: transparent;
  border-color: #f0ad4e;
}

.card-danger-outline {
  background-color: transparent;
  border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
  color: rgba(255, 255, 255, .65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: .25rem;
  margin-left: auto;
  margin-right: auto;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-radius: .25rem .25rem 0 0;
}

.card-img-bottom {
  border-radius: 0 0 .25rem .25rem;
}
.card-img-propio {
  display: inline;
  max-width: 100%;
    width: 50%;
    height: auto;
}
.img-margin-auto{
  margin: auto;
}

@media (min-width: 544px) {
  .card-deck {
    display: table;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
  }
  .card-deck .card {
    display: table-cell;
    width: 1%;
    vertical-align: top;
  }
  .card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
}

@media (min-width: 544px) {
  .card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .card-group .card {
    display: table-cell;
    vertical-align: top;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
  
}

@media (min-width: 544px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }

}

.img-circle {
    border-radius: 50%;
}
.img-square {
    width: 100%;
    height: auto;
}

/*
JUMBOTRON


*/

#inicioBox{
    position: relative;
    background: #000 url("/assets/ninos.jpeg") center center;
    background-image: image-url("ninos.jpg");
    width: 100%;
    height: 94vh;
    background-size: cover;
    overflow: hidden;
    padding: 15vh 0vh 5vh 0vh; 
}

/*
Well custom
*/

.well-custom{
      min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  background-color: rgba(245, 245, 245, 0.72);
}
.well-notificacion{
      border-radius: 0em;
    margin-left: -10%;
    padding-left: 10%;
}
.well-recto{
      border-radius: 0em;
}

/*
NAvBar
*/

.navbar-custom{
  height: 50px;
  background-color: #f19800;
} 

.nav > li{
  height: 100px;
  color: #f19800;
}
.nav > li > a{
  margin: auto;
  vertical-align: middle;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #f19800;
    background-color: #078a85;
    font-weight: bold;
}

.navbar-brand {
  /*background: url(/assets/logo6.png) center / contain no-repeat;*/
font-weight: bold;
font-size: 2em;
color: #f19800;
}
.navbar-inverse .navbar-brand {

color: #078A85;

  }

/*
Input
*/

/* iNPUT */ 

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 90%;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #333;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #fff;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  font-size: 1.2em;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

.input--kaede {
  display: block;
  overflow: hidden;
  margin: 1em auto 2em;
  background: #078A85;
}

.input__field--kaede {
  position: absolute;
  top: 0;
  right: 100%;
  width: 60%;
  height: 100%;
  background: #fff;
  color: #333333;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--kaede {
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: text;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label-content--kaede {
  padding: 1.5em 0;
}

.input__field--kaede:focus,
.input--filled .input__field--kaede {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition-delay: 0.06s;
  transition-delay: 0.06s;
}

.input__field--kaede:focus + .input__label--kaede,
.input--filled .input__label--kaede  {
  -webkit-transform: translate3d(60%, 0, 0);
  transform: translate3d(60%, 0, 0);
  pointer-events: none;
}

@media screen and (max-width: 34em) {
  .input__field--kaede:focus + .input__label--kaede,
  .input--filled .input__label--kaede  {
    -webkit-transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
    pointer-events: none;
  }
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 0, 0);
    background-image: none;
    color: rgb(0, 0, 0);
}


.btn-login{
  background-color: #333333;
  color: #FFF;
  border-radius: 0em;
}
.btn-login:hover{
  color: #333333;
  background-color: rgba(255,255,255,0.8);
}

.btn-Menu {
    background-color: #078A85;
    color: #FFF;
    border-radius: 0em;
    font-size: 1.8em;
}


.well-btn{
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 2%;
  margin-left: 2%;
}
.well-btn>span{
  color: #333;
}


.back-lado{
  background-color: rgba(250,250,250,0.5); 
  position: fixed;
   height: 74vh;
   width: 92%;
   bottom: 0;
}


.hid-mobile{
      position: fixed;
    margin-left: 0%;
    right: 0%;
    z-index: 99;
}

.delete{
      position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #333;
    font-size: 2em;
    padding-top: 8px;
}

/*badgesGRis*/
.
.bdg_gris{
  filter: none;-webkit-filter: grayscale(100%); -moz-filter:grayscale(100%); -ms-filter:grayscale(100%);-o-filter:grayscale(100%);
}
.bgd{
  width: 100%;
  height: 10px;
}
/*++++*/


@media (max-width:  1100px ) {
  .hid-mobile{
    display: none;
  }
  .back-lado{
  width: 90%;
  }
  .bgd{}
}


@media (min-width : 768px) {

  .hid-mobile{
    display: block;
  }
    .back-lado{
  width: 91%;
  }
}

@media (max-width: 650px ) {

  .hid-mobile{
    display: none;
  }
    .back-lado{
  width: 86%;
  }
}

.glyOpt{
      height: 100%;
          margin-top: 5%;
    font-size: 1.4em;
    background-color: rgba(250,250,250,0.5);
    border: solid;
    border-color: #fff;
    border-width: 1px;
    color: #333;
}
.glyHis{
  font-size: 2em;
  margin-top: 3%;
}
.pupilCardText{
  color: #333;

}

