<div class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">APRENDIS</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/teachers">Home</a></li>

			</ul>

				<ul class="nav navbar-nav navbar-right">
							 		<% if teacher_signed_in? %>
				<li>
					<%= link_to('Logout', destroy_teacher_session_path, :method => :delete) %>        
				</li>
				<% else %>
				<li>
					<li><%= link_to('Login as teacher', new_teacher_session_path)  %> </li>
				</li>
				<% end %>
				</ul>


		
		</div>
		<!--/.nav-collapse -->
	</div>
</div>