<!DOCTYPE html>
<html>
<head>
  <title>H4gBackend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

  <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">
 <style>
        body {
            padding-top: 100px;
                background-image: url("/assets/ninos.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }

    </style>

</head>


<body>

<%= render partial: "layouts/header" %>


<%= yield %>


</body>
</html>
